/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f2ebe3; }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  color: #6c7289; }

.container {
  display: grid;
  border: 5px solid red;
  grid-template-columns: repeat(2, 1fr);
  max-width: 144rem;
  margin: 10rem auto;
  height: 100rem; }
  .container__img {
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover; }
  .container__info {
    background-color: #fff;
    padding: 5rem; }
    .container__info .subheading {
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 1.8rem; }
    .container__info .heading__primary {
      font-size: 3.6rem;
      color: #1c232b;
      font-family: "Fraunces", sans-serif;
      line-height: 4rem;
      margin-bottom: 1.8rem; }
      .container__info .heading__primary span {
        display: block; }
