//COLOR PRIMARY
$color-primary-dark: hsl(158, 36%, 37%);
$color-primary-cream: hsl(30, 38%, 92%);

//COLOR NEUTRAL
$color-neutral-very-dark: hsl(212, 21%, 14%);
$color-neutral-dark: hsl(228, 12%, 48%);
$color-neutral-white: hsl(0, 0%, 100%);

//FONT
$font-size-p: 1.4rem;

//
$margin-bottom: 1.8rem;

/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px
*/
