.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // border-radius: 100px;
  max-width: 70rem; //1440px is to big; change after done with info container
  margin: 10rem auto;
  // height: 80rem; this need to be auto?

  &__img {
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  &__info {
    background-color: #fff;
    padding: 5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1.6rem;

    .subheading {
      display: inline-block; //to display margin-bottom
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: $margin-bottom;
    }

    .heading__primary {
      font-size: 3.6rem;
      color: $color-neutral-very-dark;
      font-family: "Fraunces", sans-serif;
      line-height: 4rem;
      margin-bottom: $margin-bottom;

      span {
        display: block;
      }
    }

    .perfume-info {
      font-size: $font-size-p;
      font-weight: 500;
      margin-bottom: $margin-bottom;
    }

    .price {
      display: inline-block;
      position: relative;
      font-family: "Fraunces", sans-serif;
      color: $color-primary-dark;
      font-size: 4rem;
      margin-bottom: $margin-bottom;

      &::after {
        position: absolute;
        content: "$149.99";
        text-decoration: line-through;
        color: $color-neutral-dark;
        font-size: 1.5rem;
        top: 50%;
        left: 17rem;
        transform: translate(0, -50%);
      }
    }

    .btn {
      &:link,
      &:visited {
        display: flex;
        max-width: 100%;
        justify-content: center;
        background-color: $color-primary-dark;
        color: #fff;
        text-decoration: none;
        padding: 1.2rem 2.4rem;
        font-size: 1.6rem;
        font-weight: 600;
        border-radius: 0.5rem;
      }

      &:hover {
        cursor: pointer;
        background-color: #2a5a48;
        transition: all 0.2s;
      }

      &__icon {
        width: 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.attribution {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 12px;
  text-align: center;
  max-width: 100%;

  a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 600;
  }
}

/*
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
*/
