.container {
  display: grid;
  border: 5px solid red;
  grid-template-columns: repeat(2, 1fr);
  max-width: 144rem;
  margin: 10rem auto;
  height: 100rem; //this need to be auto?

  &__img {
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
  }

  &__info {
    background-color: #fff;
    padding: 5rem;

    .subheading {
      display: inline-block; //to display margin-bottom
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: $margin-bottom;
    }

    .heading__primary {
      font-size: 3.6rem;
      color: $color-neutral-very-dark;
      font-family: "Fraunces", sans-serif;
      line-height: 4rem;
      margin-bottom: $margin-bottom;

      span {
        display: block;
      }
    }
  }
}
